@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&family=Righteous&display=swap');


:root {
  --primary-color: #e87228;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-image: url('https://imgur.com/vlHh0Jg.png');
  max-width: 100%;
}

/* Global Stylings */
label {
  display: block;
  margin-right: 2vh;
  margin-bottom: 0vh;
  font-family: 'Baloo 2', cursive;
  font-size: 17pt;
}

#username {
  display: block;
  margin-right: 2vh;
  margin-bottom: 0vh;
  font-family: 'Baloo 2', cursive;
  font-size: 17pt;
}

#email {
  display: block;
  margin-right: 2vh;
  margin-bottom: 0vh;
  font-family: 'Baloo 2', cursive;
  font-size: 17pt;
}

#password {
  display: block;
  margin-right: 2vh;
  margin-bottom: 0vh;
  font-family: 'Baloo 2', cursive;
  font-size: 17pt;
}

p {
  font-family: 'Baloo 2', cursive;
  font-size: 20pt;
}

header h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 60pt;
}

h2 {
  font-family: 'Baloo 2', cursive;
}

input {
  display: block;
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ff5f42;
  border-radius: 0.25rem;
  background-color: #ffe5f0;
}

.width-50 {
  width: 50%;
}

.ml-auto {
  margin-left: auto;
}

.text-center {
  text-align: center;
}

/* Progressbar */
.progressbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  counter-reset: step;
  margin: 2rem 0 4rem;
}

.progressbar::before,
.progress {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  background-color: #ffe5f0;
  z-index: -1;
}

.progress {
  background-color: var(--primary-color);
  width: 0%;
  transition: 0.3s;
}

.progress-step {
  width: 2.1875rem;
  height: 2.1875rem;
  background-color: #ffe5f0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-step::before {
  counter-increment: step;
  content: counter(step);
}

.progress-step::after {
  content: attr(data-title);
  position: absolute;
  top: calc(100% + 0.5rem);
  font-size: 0.85rem;
  color: #666;
}

.progress-step-active {
  background-color: var(--primary-color);
  color: hsl(52, 96%, 62%);
}

/* Form */
.form {
  margin: 0 auto;
  border: 4px solid #6f6c6c;
  border-radius: 0.35rem;
  padding: 3.0rem;
  background-color: rgba(255, 255, 255, 0.9);
}

.form-step {
  display: none;
  transform-origin: top;
  animation: animate 0.5s;
}

.form-step-active {
  display: block;
}

.input-group {
  margin: 2rem 0;
}


@keyframes animate {
  from {
    transform: scale(1, 0);
    opacity: 0;
  }

  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}

/* Button */
.btns-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.btn-next {
  text-align: center;
}

.btn {
  padding: 0.75rem;
  display: block;
  text-decoration: none;
  background-color: var(--primary-color);
  color: #f3f3f3;
  text-align: center;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 0 0 2px #B86681;
}

.btn:hover {
  box-shadow: 0 0 0 2px #e4cdd7;
}



.card-body {
  border-color: #ff5f42;
  border: 10px;
}